{% extends 'base.html.twig' %}

{% block title %}Projets index{% endblock %}

{% block body %}
    <h1>Projets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomProjet</th>
                <th>DescriptionProjet</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.NomProjet }}</td>
                <td>{{ projet.DescriptionProjet }}</td>
                <td>{{ projet.DateCreation ? projet.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ projet.DateModification ? projet.DateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_projets_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projets_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projets_new') }}">Create new</a>
{% endblock %}
